<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container">
    <a class="navbar-brand text-white fw-bold" href="index.html">
      {{ title() }}
    </a>

    <button class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
      aria-controls="navmenu"
      aria-expanded="false"
      aria-label="Abrir menú de navegación">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active text-white" href="#about">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" href="#contact">{{ test() }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" href="#resume">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" href="https://joel-tech.vercel.app/index.html" target="_blank">
            Business
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
