<nav class="navbar navbar-expand-lg navbar-dark p-4" style="background-color: rgb(13, 196, 83);">
  <div class="container">
    <a class="navbar-brand text-white fw-bold" href="index.html">
      My portafolio
    </a>

    <button class="navbar-toggler bg-success" type="button" data-bs-toggle="collapse" 
      aria-controls="navmenu"
      aria-expanded="false" data-bs-target="#navmenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse slide-animate" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active text-white" >About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" >Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" >Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" href="https://joel-tech.vercel.app/index.html" target="_blank">
            Business
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
