<body>
<a href="#navmenu"><i class="bi bi-arrow-up-circle-fill" id="arrow"></i></a>
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-2 col-4 col-md-3">
          <h1 class="text-success fst-italic mt-3">Welcome</h1>
        </div>
      </div>
      <h3 class="text-success">Greetings</h3>
      <p class="text-success lead">From Joel Diaz.</p>

      <div class="row justify-content-start">
        <div class="col-lg-4 col-md-12">
          <img class="img-fluid" src="images/picsinf.png" width="350" alt="" />
        </div>
        <div class="col-8 col-lg-8 col-md-12">
          <h3 class="text-success">About me</h3>
          <p class="lead" id="about">
            Hi! I'm a Software Engineering student in my final year with
            hands-on experience building fullstack solutions and frontend web
            pages. I have a strong foundation in C#, SQL Server, and Angular. I
            love building web applications that solve real problems, like my
            billing system for fast food business.
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
        <h3 class="text-success fst-italic">Random advice from a free API</h3>
        </div>
      </div>
      <div class="row justify-content-center">
       <div class="col-lg-5">
          <p class="text-primary fs-5 fst-italic mt-2">{{ad}}</p>
        <button class="btn btn-success w-100" (click)="getNewAdvice()">Click for new advice</button>  
       </div>
      </div>
      <div class="row justify-content-start">
        <div class="col-lg-6 col-md-7">
           <h2 class="text-success mb-5 mt-4">Here are some of my proyects</h2>
        </div>
      </div>
      <section>
         <div class="row justify-content-center">
          <div class="col-lg-6 col-10 col-md-8">
            <h3 class="text-success fst-italic">
              Billing system for fast food business
            </h3>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="ratio ratio-16x9">
              <iframe
                src="https://www.youtube.com/embed/0FVE2cTeuhY"
                title="YouTube video"
                allow="autoplay:"
                allowfullscreen
              >
              </iframe>
            </div>
          </div>
        </div>
        <div class="row justify-content-start">
          <div class="col-lg-4">
            <h4 class="text-success mt-3">Technology used</h4>
            <p class="text-success">C#, Windows Forms, SQL Server</p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-6 col-10">
            <h3 class="text-success fst-italic">
              Responsive Medical web page proyect
            </h3>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="ratio ratio-16x9">
              <iframe
                src="https://www.youtube.com/embed/WmMn-tiDqqc"
                title="YouTube video"
                allow="autoplay:"
                allowfullscreen
              >
              </iframe>
            </div>
          </div>
        </div>
        <div class="row justify-content-start">
          <div class="col-lg-4">
            <h4 class="text-success mt-3">Technology used</h4>
            <p class="text-success">HTML, CSS, BOOTSTRAP</p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-6 col-10">
           <h3 class="text-success fst-italic" >Responsive politic's candidate web page</h3>          
          </div>
        </div>
        <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/NKTzKglrpJA" 
            title="YouTube video"
                allow="autoplay:"
                allowfullscreen>            
            </iframe>
          </div>
        </div>
        </div>
        <div class="row justify-content-start">
          <div class="col-lg-4">
            <h4 class="text-success mt-3">Technology used</h4>
            <p class="text-success">HTML, CSS, BOOTSTRAP</p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-6 col-10">
            <h3 class="text-success fst-italic">
              Responsive School web page proyect
            </h3>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="ratio ratio-16x9">
              <iframe
                src="https://www.youtube.com/embed/ksKOxyZwsQA"
                title="YouTube video"
                allow="autoplay:"
                allowfullscreen
              >
              </iframe>
            </div>
          </div>
        </div>
        <div class="row justify-content-start">
          <div class="col-lg-4">
            <h4 class="text-success mt-3">Technology used</h4>
            <p class="text-success">HTML, CSS, BOOTSTRAP</p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-6 col-10">
            <h3 class="text-success fst-italic">
              Responsive Lawyer firm web page proyect
            </h3>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="ratio ratio-16x9">
              <iframe
                src="https://www.youtube.com/embed/N8YiDExfa_E"
                title="YouTube video"
                allow="autoplay:"
                allowfullscreen
              >
              </iframe>
            </div>
          </div>
        </div>
        <div class="row justify-content-start">
          <div class="col-lg-4">
            <h4 class="text-success mt-3">Technology used</h4>
            <p class="text-success">HTML, CSS, BOOTSTRAP</p>
          </div>
        </div>
         <div class="row justify-content-center">
          <div class="col-lg-6 col-10">
            <h3 class="text-success fst-italic">
              Responsive Restaurant web page proyect
            </h3>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="ratio ratio-16x9">
              <iframe
                  src="https://www.youtube.com/embed/CGBbhECwt8o" 
                title="YouTube video"
                allow="autoplay:"
                allowfullscreen
              >
              </iframe>
            </div>
          </div>
        </div>
        <div class="row justify-content-start">
          <div class="col-lg-4">
            <h4 class="text-success mt-3">Technology used</h4>
            <p class="text-success">HTML, CSS, BOOTSTRAP, JAVASCRIPT</p>
          </div>
        </div>
      </section>
      <section>
        <article>
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
             <h3 class="text-success fst-italic">Random joke from a free API</h3>
             <p class="text-primary fs-5 fst-italic mt-2">{{other}} {{another}}</p>  
               <button class="btn btn-success w-100"(click)="getnewjoke()">Click for new joke</button>   
          </div>
        </div>          
        </article>
      </section>
      <div class="row justify-content-center">
        <div class="col-lg-1 col-md-3">
         <h3 class="text-success mt-4" id="contact">Contact</h3>
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="col-lg-2 col-md-2">
          <a
            class="btn btn-success rounded-circle"
            href=""
            style="text-decoration: none; width: 50px; height: 50px"
            ><i class="bi bi-facebook fs-4"></i
          ></a>
        </div>
        <div class="col-lg-2 col-md-2 mt-1">
          <a
            class="btn btn-success rounded-circle"
            href="https://www.instagram.com/joel_techrd/" target="_blank"
            style="
              text-decoration: none;
              color: rgb(252, 252, 252);
              width: 50px;
              height: 50px;
            "
            ><i class="bi bi-instagram fs-4"></i
          ></a>
        </div>
        <div class="col-lg-2 col-md-2 mt-1">
          <a
            class="btn btn-success rounded-circle"
            href=""
            style="
              text-decoration: none;
              color: rgb(255, 255, 255);
              width: 50px;
              height: 50px;
            "
            ><i class="bi bi-whatsapp fs-4"></i
          ></a>
        </div>
        <div class="col-lg-2 col-md-2 mt-1">
          <a
            class="btn btn-success rounded-circle"
            href="https://www.linkedin.com/in/joel-diaz-tech/"
  target="_blank"
            style="
              text-decoration: none;
              color: rgb(254, 255, 254);
              width: 50px;
              height: 50px;
            "
            ><i class="bi bi-linkedin fs-4"></i
          ></a>
        </div>
        <div class="col-lg-2 col-md-2 mt-1">
          <a
            class="btn btn-success rounded-circle"
            href="https://www.youtube.com/@JoelTechrd" target="_blank"
            style="
              text-decoration: none;
              color: rgb(254, 255, 254);
              width: 50px;
              height: 50px;
            "
            ><i class="bi bi-youtube fs-4"></i
          ></a>
        </div>
        <div class="col-lg-1 col-md-1 mt-1">
          <a
            class="btn btn-success rounded-circle"
            href="https://github.com/j200496" target="_blank"
            style="
              text-decoration: none;
              color: rgb(254, 255, 254);
              width: 50px;
              height: 50px;
            "
            ><i class="bi bi-github fs-4"></i
          ></a>
        </div>
      </div>
   
      <section id="resume">
        <div class="row justify-content-center">
          <h5 class="text-success mt-4">Download my resume <a href="">Here</a></h5>
      </div>
      </section>
    </div>
  </section>
   <div class="container">
     <footer>
   <div class="row justify-content-start mt-4">
    <div class="col-lg-8 col-md-6">
       <i class="bi bi-geo-alt-fill fs-4 text-success"> Santo Domingo, Dominican Republic</i>
    </div>
    <div class="col-lg-4 col-md-6">
       <i class="bi bi-phone fs-4 text-success"> Call me at 849-357-7214</i>
    </div>
   </div>
  </footer>
   </div>
</body>
