<app-header></app-header>
<div class="container-fluid" [ngClass]="ischecked == true ? 'bg-dark' : 'bg-light'">
  <div class="row justify-content-end">
   <div class="col-5 col-md- col-lg-2">
    <div class="form-check form-switch mt-3">
  <input class="form-check-input fs-4"[(ngModel)]="ischecked" type="checkbox" role="switch" id="flexSwitchCheckDefault">
  <label class="form-check-label text-success fw-bold mt-1" for="flexSwitchCheckDefault">Dark mode</label>
</div>
   </div>
  </div>
  <a href="#navmenu"><i class="bi bi-arrow-up-circle-fill" id="arrow"></i></a>
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-2 col-4 col-md-3">
          <h1 class="text-success fst-italic mt-3">Welcome</h1>
        </div>
      </div>
      <h3 class="text-success">Greetings!</h3>
      <p class="text-success lead">From Joel Diaz.</p>

      <div class="row justify-content-start">
        <div class="col-lg-4 col-md-12">
          <img class="img-fluid" src="images/picsinf.png" width="350" alt="" />
        </div>
        <div class="col-8 col-lg-8 col-md-12">
          <h3 class="text-success mt-3">About me</h3>
          <p class="lead" id="about" [ngClass]="ischecked == true? 'text-success': ''">
            Hi! I'm a Software Engineering student in my final year with
            hands-on experience building fullstack solutions and frontend web
            pages. I have a strong foundation in C#, SQL Server, and Angular. I
            love building web applications that solve real problems, like my
            billing system for fast food business.
          </p>

          <div class="row justify-content-center mt-3">
            <div class="col-lg-6 col-6">
              <ul class="fs-5 text-success">
                <li>Javascript</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Bootstrap</li>
                <li>SQL server</li>
                 <li>React</li>
                  <li>Angular</li>
                  <li>Python</li>
                  <li>Data analyst</li>
              </ul>
            </div>
            <div class="col-lg-4 col-6">
              <ul class="fs-5 text-success">
                <li>.Net</li>
                <li>C#</li>
                <li>TypeScript</li>
                <li>API</li>
                <li>Responsive design implementation</li>
                  <li>Figma</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6 col-12 ">
          <h4 class="text-primary mt-3">{{projects}}+ educational projects in GitHub <i class="bi bi-github"></i></h4>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7 col-12">
          <h3 class="text-success fst-italic mt-5">
            Random advice from a free API
          </h3>
        </div> 
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <p class="text-primary fs-5 fst-italic mt-2">{{ ad }}</p>
          <button class="btn btn-success w-100 rounded-5" (click)="getNewAdvice()">
            Click for new advice
          </button>
        </div>
      </div>
      <div class="row justify-content-start">
        <div class="col-lg-6 col-md-7">
          <h2 class="text-success mb-5 mt-5" data-aos="fade-right">
            Here are some of my proyects
          </h2>
        </div>
      </div>
      <section>
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <h3 class="text-success fst-italic">Data analitics of Dominican Population app 
              created with python <a href="https://dominican-data.streamlit.app/" target="_blank">Open app here</a></h3>
          </div>
          <div class="col-lg-10">
            <div class="ratio ratio-16x9" data-aos="flip-right">
              <iframe  
                src="https://www.youtube.com//embed/Y5AEut8nCQU"
                
                title="YouTube video"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              >
              </iframe>
            </div>
          </div>
        </div>
         <div class="row justify-content-center">
          <div class="col-lg-10">
            <p class="text-success mt-3" style="text-align: center">
              This app is created with python using the streamlit, pandas and plotly express
               library, this app is created to display the Dominican Population in a better way,
               data source is from a goverment institution(Oficina nacional de estadisticas), the 
               data was cleaned and formatted, the Population was divided
               by Province,Gender, Turistic's region and Border's region as well
               as Gender average, then was display in grafic for a better user experience and
               understanding. 
            </p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-5 col-10 col-md-8">
            <h3 class="text-success fst-italic">
              Billing system for fast food business
            </h3>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="ratio ratio-16x9" data-aos="flip-right">
              <iframe
                src="https://www.youtube.com/embed/2weWDEZrP4A"
                
                title="YouTube video"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              >
              </iframe>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <p class="text-success mt-3" style="text-align: center">
              This is a desktop application that is created for fast food
              business, food truck etc, the aplication tracks the productos most
              sold, the expenses, earnings and even you lost production, in the
              business configuration module you can edit the information you
              want the bill to be issued with, this app it's good for starting
              business owners with low budget, no cloud or hosting but local
              server which means that it works in places that don't have signal
              or internet.
            </p>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-lg-7 col-9">
            <h4 class="text-success">Technology used</h4>
          </div>
        </div>
        <div class="row justify-content-center mb-5">
          <div class="col-lg-4 col-10" style="margin-left: 10%">
            <p class="text-success">C#, .Net8 Windows Forms, SQL Server</p>
          </div>
        </div>
        <hr />
        <div class="row justify-content-center mt-5">
          <div class="col-lg-6 col-11">
            <h3 class="text-success fst-italic">
              Responsive Medical web page proyect
            </h3>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="ratio ratio-16x9" data-aos="flip-right">
              <iframe
                src="https://www.youtube.com/embed/WmMn-tiDqqc"
                title="YouTube video"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              >
              </iframe>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <p class="text-success mt-3" style="text-align: center">
              This is a responsive site for a professional in the health field,
              the site has a menu at the top where you can schedule appointments
              through Whatsapp, and also get to know more about the medical
              consultory, the office and more, it also has a section to describe
              personal and professional profile, and even testimonials, at the
              bottom you have all the social media and the location with google
              maps integrated, phone number and more.
            </p>
          </div>
        </div>
        <div class="row justify-content-end mb-5">
          <div class="col-lg-7 col-9">
            <h4 class="text-success">Technology used</h4>
            <p class="text-success">HTML, CSS, BOOTSTRAP</p>
          </div>
        </div>
        <hr />
        <div class="row justify-content-center mt-5">
          <div class="col-lg-6 col-11">
            <h3 class="text-success fst-italic">
              Responsive politic's candidate web page
            </h3>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="ratio ratio-16x9"data-aos="flip-right">
              <iframe
                src="https://www.youtube.com/embed/V7YyFuMwc30"
                title="YouTube video"
               allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              >
              </iframe>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <p class="text-success mt-3" style="text-align: center">
              This is a site built for a political candidate, it has a
              description of the candidate's vision and a message, it has a
              section of the candidates's proposal and below you can find a form
              to get in touch, there is another section with a form to subscribe
              to the team, at the bottom you find the social media, phone
              number, emal, and address.
            </p>
          </div>
        </div>
        <div class="row justify-content-center mb-5">
          <div class="col-lg-7 col-7">
            <h4 class="text-success">Technology used</h4>
          </div>
          <div class="col-9">
             <p class="text-success">HTML, CSS, BOOTSTRAP,ANGULAR</p>
          </div>
        </div>
        <hr />
        <div class="row justify-content-center mt-5">
          <div class="col-lg-6 col-11">
            <h3 class="text-success fst-italic">
              Responsive School web page proyect
            </h3>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="ratio ratio-16x9" data-aos="flip-right">
              <iframe
                src="https://www.youtube.com/embed/ksKOxyZwsQA"
                title="YouTube video"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              >
              </iframe>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <p class="text-success mt-3" style="text-align: center">
              This site is built for schools and other educational institution,
              this has a general description of what the school has to offer to
              the student, and also a carrousel of pictures of the campus, you
              have a section with the team members with their professional
              profile, and it also has a section of all the courses available
              and a brief description of each one, at the top you have a button
              that re-directs you to a form to get enrolled at the bottom you
              have all the social media, location with google maps integrated
              and more.
            </p>
          </div>
        </div>
        <div class="row justify-content-end mb-5">
          <div class="col-lg-7 col-9">
            <h4 class="text-success">Technology used</h4>
            <p class="text-success">HTML, CSS, BOOTSTRAP</p>
          </div>
        </div>
        <hr />
        <div class="row justify-content-center mt-5">
          <div class="col-lg-6 col-11">
            <h3 class="text-success fst-italic">
              Responsive Lawyer firm web page proyect
            </h3>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="ratio ratio-16x9"data-aos="flip-right">
              <iframe
                src="https://www.youtube.com/embed/N8YiDExfa_E"
                title="YouTube video"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              >
              </iframe>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <p class="text-success mt-3" style="text-align: center">
              This site is built for a Lawyer firm, it has the logo at the top
              with a brief description of the firm, you can book appointments
              through a floating Whatsapp button and each member of the team has
              a section with a description of what they do and you can see their
              profile and book appointmetns with them, at the bottom you have
              all the social media, location with google maps integrated, phone
              number, email and more.
            </p>
          </div>
        </div>
        <div class="row justify-content-end mb-5">
          <div class="col-lg-7 col-9">
            <h4 class="text-success">Technology used</h4>
            <p class="text-success">HTML, CSS, BOOTSTRAP</p>
          </div>
        </div>
        <hr />
        <div class="row justify-content-center mt-5">
          <div class="col-lg-7 col-10">
            <h3 class="text-success fst-italic">
              Responsive Restaurant web E-commerce proyect
            </h3>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="ratio ratio-16x9" data-aos="flip-right">
              <iframe
                src="https://www.youtube.com/embed/CGBbhECwt8o"
                title="YouTube video"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              >
              </iframe>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <p class="text-success mt-3" style="text-align: center">
              This is a web page and a digital menu for restaurants with an
              elegant profile, at the top it has the logo and a background
              picture of the place, it also has a Whatsapp floating botton to
              get in contact with the business directly, you can order through
              any online platform for example: Uber Eats, Doordash, etc, with
              just a click, you also have access to the menu by categories and
              each product has a Whatsapp order button in case you want to order
              directly with the business, it has a section that describes the
              business and what it is about, at the bottom you have all the
              social media, location with google maps integrated, phone number
              and more.
            </p>
          </div>
        </div>
        <div class="row justify-content-end mb-5">
          <div class="col-lg-7 col-9">
            <h4 class="text-success">Technology used</h4>
            <p class="text-success">HTML, CSS, BOOTSTRAP, <br>JAVASCRIPT</p>
          </div>
        </div>
        <hr />
      </section>
      <section>
        <article>
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 col-11">
              <h3 class="text-success fst-italic">
                Random joke from a free API
              </h3>
              <p class="text-primary fs-5 fst-italic mt-2">
                {{ part1 }} {{ part2 }}
              </p>
              <button class="btn btn-success w-100 rounded-5" (click)="getnewjoke()">
                Click for new joke
              </button>
            </div>
          </div>
        </article>
        <section id="contact">
           <div class="row justify-content-center">
        <div class="col-lg-2 col-md-3 col-5">
          <h3 class="text-success mt-4" id="contact">Contact me</h3>
        </div>
      </div>
      <div class="row justify-content-center">
         <div class="col-lg-8">
          <form [formGroup]="frm" action="https://formsubmit.co/joeltechrd@gmail.com" method="post">            
                  <input type="hidden" name="_captcha" value="false">
            <input type="text" formControlName="name" placeholder="Name" class="form-control rounded-5" required>
            <input type="email" formControlName="email" class="form-control mt-3 rounded-5" name="" id="" placeholder="Email" required>
            <textarea name="" formControlName="Text" class="form-control mt-3 rounded-3 " placeholder="Message" id="" required></textarea> 
            <input type="hidden" value="" name="" id="">         
            <button class=" btn btn-primary w-100 mt-3 mb-3 rounded-5" type="submit" [disabled]="true">Send</button>
          </form>
        </div>
      </div>
        </section>
      </section>     
    </div>
  </section>
</div>
<section class=""  style="background-color: rgb(13, 196, 83);">
    <div class="container-fluid">
    <footer class="" >
      <div class="row justify-content-center">
    <div class="row justify-content-center mt-5 " style="background-color: rgb(13, 196, 83);" data-aos="fade-right">
        <div class="col-lg-2 col-md-2">
          <a
            class="btn btn rounded-circle"
            href=""
            style="text-decoration: none; width: 50px; height: 50px; background-color:
             rgb(13, 196, 83); color: white;"
            ><i class="bi bi-facebook fs-4"></i
          ></a>
        </div>
        <div class="col-lg-2 col-md-2 mt-1">
          <a
            class="btn btn rounded-circle"
            href="https://www.instagram.com/joel_techrd/"
            target="_blank"
            style="
              text-decoration: none;
              color: rgb(252, 252, 252);
              width: 50px;
              height: 50px;
              background-color: rgb(13, 196, 83);">
             <i class="bi bi-instagram fs-4"></i
          ></a>
        </div>
        <div class="col-lg-2 col-md-2 mt-1">
          <a
            class="btn btn rounded-circle"
            href="https://wa.me/18493577214"
            target="_blank"
             style="text-decoration: none; width: 50px; height: 50px; background-color:
             rgb(13, 196, 83); color: white;"
            ><i class="bi bi-whatsapp fs-4"></i
          ></a>
        </div>
        <div class="col-lg-2 col-md-2 mt-1">
          <a
            class="btn btn rounded-circle"
            href="https://www.linkedin.com/in/joel-diaz-tech/"
            target="_blank"
              style="text-decoration: none; width: 50px; height: 50px; background-color:
             rgb(13, 196, 83); color: white;"
            ><i class="bi bi-linkedin fs-4"></i
          ></a>
        </div>
        <div class="col-lg-2 col-md-2 mt-1">
          <a
            class="btn btn rounded-circle"
            href="https://www.youtube.com/@JoelTechrd"
            target="_blank"
              style="text-decoration: none; width: 50px; height: 50px; background-color:
             rgb(13, 196, 83); color: white;"
            ><i class="bi bi-youtube fs-4"></i
          ></a>
        </div>
        <div class="col-lg-1 col-md-1 mt-1">
          <a
            class="btn btn rounded-circle"
            href="https://github.com/j200496"
            target="_blank"
              style="text-decoration: none; width: 50px; height: 50px; background-color:
             rgb(13, 196, 83); color: white;"
            ><i class="bi bi-github fs-4"></i
          ></a>
        </div>
      </div>  
      </div>
      <section id="contact">
        <div class="row justify-content-center">
          <h5 class="text-white mt-4">
            Download my resume
            <a class="text-white" href="/src/assets/My-resume.docx" download>here </a>
          </h5>
        </div>
      </section>
      <div class="row justify-content-start mt-4">
        <div class="col-lg-8 col-12 col-md-6">
          <i class="bi bi-geo-alt-fill fs-4 text-white">
            Santo Domingo, Dominican Republic</i
          >
        </div>
        <div class="col-lg-4 col-12 col-md-6">
          <i class="bi bi-phone fs-4 text-white"> Call me at 849-357-7214</i>
        </div>
      </div>

      <div class="row justify-content-center">
      <div class="col-lg-4 col-12">
        <p class="text-white mt-2 lead">Develoed by JoelTechRd--All rights reserved &#169;</p>
      </div>
    </div>
    </footer>
    </div>
  </section>
     <router-outlet></router-outlet> 